<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/eae25a9ed0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" th:href="@{/css/layout.css}">
        <link rel="stylesheet" th:href="@{/css/errorPage.css}">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
    </head>
    <body>
        <div th:fragment="header" class="header">
            <div class="header-inner">
                <div class="todo-title">
                    <span>
                        <a th:href="@{'/'}">TODO</a>
                    </span>
                </div>
                <div class="todo-search">
                    <span>
                        <a th:href="@{'/search'}">検索</a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
